body {
    text-align: center;
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
}

#app {
    width: 100%;
    height: 800px;
    background-color: lightblue;
}

.line {
    height: 6px;
    width: 70px;
    background-color: #000000;
    margin: 8px auto;
}

#games {
    width: 100%;
    height: 800px;
    background-color: aquamarine;
}

img:hover {
    transform: scale(1.1);
}

#chatbot {
    width: 100%;
    height: 800px;
    background-color: deepskyblue;
}

#myCarousel {
    background-color: red;
}

#myCarousel img {
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p {
    margin-bottom: 15px;
    margin-top: 15px;
}
